/* Global styles */
.markdown-reader {
    @apply leading-relaxed text-foreground/80 text-lg font-light;

    /* Reset text color for emphasized items */
    h1, h2, h3, strong, pre {
        @apply text-foreground;
    }

    /* Heading styles */
    h1 {
        @apply text-3xl font-medium mt-12 mb-4;
    }
    h2 {
        @apply text-2xl font-medium mt-8 mb-2;
    }
    h3 {
        @apply text-xl font-medium mt-4 mb-1;
    }

    /* Paragraph styles */
    p {
        @apply my-4;
    }

    /* Link styles */
    a {
        @apply text-blue-500 underline decoration-transparent transition-colors duration-200;
        &:hover {
            @apply decoration-blue-500;
        }
    }

    /* Inline code styles */
    code {
        @apply px-1.5 py-0.5 text-foreground/90 bg-foreground/10 border border-border text-sm rounded-md;
    }

    /* Bold text styles */
    strong {
        @apply font-medium;
    }

    /* List styles */
    ul {
        list-style: unset;
        padding-inline-start: 20px;
    }
    ol {
        list-style: unset;
        list-style-type: decimal;
        padding-inline-start: 30px;
    }

    /* Blockquote styles */
    blockquote, pre {
        @apply my-4 py-4 bg-foreground/5 border border-border rounded-lg;
    }
    blockquote {
        @apply px-4;
        p {
            @apply my-0 mb-2 text-foreground-secondary;
        }
        &>p:first-child strong {
            @apply text-foreground;
        }
    }
    pre {
        @apply flex text-sm font-mono leading-relaxed overflow-x-auto;
        code {
            @apply px-0 py-0 bg-transparent border-none;
        }
    }

    code {
        /* Syntax highlighting theme */
        .comment {
            @apply text-foreground/40;
        }
        .keyword, .boolean {
            @apply text-blue-400;
        }
        .string {
            @apply text-green-400;
        }
        .number {
            @apply text-pink-400;
        }
        .function {
            @apply text-orange-400;
        }
        .tag {
            @apply text-blue-400;
        }
        .tag.attr-name {
            @apply text-green-400;
        }
        .tag.attr-value {
            @apply text-orange-300;
        }
        .punctuation, .tag.punctuation {
            @apply text-foreground/70;
        }
    }
}
